@import url('../../../assets/styles/bg-colors.css');


.tt-search {
    background-color: #41414dad;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 200;
    transition: background-color .15s ease-in-out;
    display: flex;
    justify-content: center;
    animation: showSearch 200ms ease-in-out;
}
.tt-search.opened {
    background-color: var(--zinc-500);
    transition: all 1.2s ease-in-out;
}


@keyframes showSearch {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}







@keyframes showSearchBar {
    0% {
        transform: scale(.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes hideSearchBar {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.5);
        opacity: 0;
    }
}

.tt-search-container.hide {
    animation: hideSearchBar .15s ease-in-out forwards;
}
.tt-search-container.show {
    animation: showSearchBar .15s cubic-bezier(0.74, 0, 0, 0.99) forwards;
}

.tt-search-container {
    display: flex;
    max-width: 40rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem 0;
    border: 1px var(--zinc-600) solid;
    background-color: var(--zinc-750);
    flex-direction: column;
    font-weight: 300;
    word-spacing: 1px;
}




.search-header {
    gap: .5rem;
    padding: 1rem;
    display: flex;
}

.search-form {
    width: 100%;
    display: flex;
    height: 3rem;
}

.search-form__container {
    border-radius: .75rem;
    align-items: center;
    background-color: var(--zinc-700);
    display: flex;
    margin: 0;
    height: 100%;
    position: relative;
    padding: 0 .5rem;
    width: 100%;
}






.search-input {
    padding: .25rem 0 .25rem .5rem;
    background-color: transparent !important;
    border: none;
    color: var(--zinc-200);
    width: 100%;
    outline: 0;
    font-size: 16px;
    height: 100%;
    line-height: 1.25;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}


.search-input::placeholder {
    color: var(--zinc-200);
}


.search-reset {
    min-inline-size: min-content;
    border-radius: .25rem;
    border: none;
}






.search-cancel {
    display: none;
    padding: .5rem;
    min-inline-size: min-content;
    border-radius: .5rem;
    border: none;
    color: var(--white-500);
}

.search-reset:active, .search-cancel:active {
    outline: 0;
    transition-property:scale;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .15s;
    scale: 0.98;
    box-shadow: 0 0 1px 2px var(--zinc-200);
}



.search-results__area {
    overflow: auto;
    flex: 1;
    font-weight: 350;
    font-size: 13px;
    padding: .5rem;
}

.search-results__tip {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-results__greeting-tip {

}

.search-results__no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results__quantity {

}












.search-results {

}

.search-results__list {

}


.search-result__list-item {

}

.search-result__element {
    display: flex;
    padding: .25rem;
    border-radius: .5rem;
}

.search-movie__thumb {
    width: 40px;
    height: 60px;
    border-radius: .25rem;
    overflow: hidden;
}

.search-movie__thumb_img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.search-movie__title {

}






















.search-results__write {
    text-align: center;
}





.search-footer__tips {
    border-radius: 0 0 8px 8px;
    display: flex;
    position: relative;
    z-index: 200;
    padding: 0 1rem .5rem 1rem;
    height: 3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}

.search-footer__functional-keys {
    display: inline-flex;
    height: 1.5rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    text-align: center;
    font-size: 12px;
    background-color: var(--zinc-750);
}

@media (hover: hover) {
    .search-result__element:hover {
        background-color: var(--blue-400);
    }

    .header__search-btn:hover {
        background-color: var(--zinc-600);
    }
}


@media (max-width: 768px) {

    .tt-search-container {
        max-width: 100%;
        border: 0;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .search-cancel {
        display: inline-block;
    }

    .search-footer__functional-keys {
        display: none;
    }

    .search-footer__tips {
        justify-content: center;
    }
}


/*@media (max-width: 460px) {*/
/*    .search-header {*/
/*        gap: 0;*/
/*    }*/
/*}*/