
.tt_field__tooltip {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 150ms ease-in-out;
}

.tt_field__tooltip-area {
    min-height: 0;
}

.tt_text-field:focus-within .tt_field__tooltip,
.tt_number-field:focus-within .tt_field__tooltip {
    grid-template-rows: 1fr;
}

.tt_field__tooltip-content {
    margin-top: .5rem;
    color: var(--zinc-300);
    font-size: 11px;
    font-weight: 400;
    text-align: right;
    word-spacing: 1px;
    text-wrap: balance;
}

.tt_text-field,
.tt_number-field,
.tt_date-field {
    position: relative;
}

.tt_text-field__input-area .tt_field__title,
.tt_number-field__input-area .tt_field__title,
.tt_date-field__input-area .tt_field__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    display: block;
    padding: 1rem 0.75rem;
    color: var(--zinc-800);
    pointer-events: none;
    border: none;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: 0 0;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.tt_text-field__input-area .tt_text-field__input,
.tt_number-field__input-area .tt_number-field__input,
.tt_date-field__input-area .tt_date-field__input,
.tt_select-component .tt_select-component__area {
    color: var(--zinc-800);
    background-color: var(--zinc-300);

    display: block;
    width: 100%;
    height: calc(3rem + 6px);
    padding: 1.625rem 0.75rem .625rem .75rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    border: none;
    border-radius: .75rem;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.tt_text-field__input-area .tt_text-field__input::-moz-placeholder,
.tt_number-field__input-area .tt_number-field__input::-moz-placeholder,
.tt_date-field__input-area .tt_date-field__input::-moz-placeholder {
    color: transparent;
}

.tt_text-field__input-area .tt_text-field__input:focus,
.tt_number-field__input-area .tt_number-field__input:focus,
.tt_date-field__input-area .tt_date-field__input:focus,
.tt_select-component .tt_select-component__area:focus {
    box-shadow: 0 0 0 0.2rem var(--blue-200);
    outline: 0;
}

.tt_text-field__input-area .tt_text-field__input:not(:placeholder-shown),
.tt_number-field__input-area .tt_number-field__input:not(:placeholder-shown),
.tt_date-field__input-area .tt_date-field__input:not(:placeholder-shown),
.tt_select-component .tt_select-component__area:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.tt_text-field__input:focus + .tt_field__title,
.tt_text-field__input:not(:placeholder-shown) + .tt_field__title,

.tt_number-field__input:focus + .tt_field__title,
.tt_number-field__input:not(:placeholder-shown) + .tt_field__title,

.tt_date-field__input:focus + .tt_field__title,
.tt_date-field__input:not(:placeholder-shown) + .tt_field__title {
    opacity: .65;
    transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
}


.text-area__input {
    max-width: 750px;
    min-height: 150px;
    max-height: 400px;
}





.invalid .tt_text-field__input:focus,
.invalid .tt_number-field__input:focus,
.invalid .tt_date-field__input:focus {
    box-shadow: 0 0 0 0.2rem var(--red);
}
.invalid {
    box-shadow: 0 0 1px .2rem var(--red);
    animation-name: invalidShaking;
    border-radius: .75rem;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    outline: 0;
    background-color: var(--zinc-200);
}

@keyframes invalidShaking {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}









.tt_select-component {
    position: relative;
}

.tt_selected-area {
    height: auto;
    min-height: calc(3rem + 6px);
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 15L12 20L17 15" stroke="%2352525B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 9L12 4L7 9" stroke="%2352525B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat, repeat;
    background-position: right .5rem top 50%, 0 0;
    border: 1px solid var(--zinc-300);
    border-radius: .75rem;
    color: var(--zinc-800);
    background-color: var(--zinc-300);
    width: 100%;
    padding: 1.5rem 2.5rem .5rem .5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.2s ease-in-out;
}

.tt_selected-area__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    display: block;
    text-align: left;
    padding: 1rem 0.75rem;
    color: var(--zinc-800);
    pointer-events: none;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: 0 0;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.tt_selected-area__title.transformed {
    opacity: .65;
    transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
}

.tt_select-component .tt_selected-area:focus {
    box-shadow: 0 0 0 0.2rem var(--blue-200);
    outline: 0;
}

.tt_selected-area__list {
    display: flex;
    flex-wrap: wrap;
    gap: .375rem;
}

.tt_selected-area__list .tt_selected-area__list-item {
    background-color: var(--zinc-400);
    padding: .25rem 0.375rem;
    border-radius: .375rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tt_select-area {
    max-height: 0;
    background-color: var(--zinc-725);
    border-radius: .75rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition-property: margin-top, max-height, opacity, visibility;
    transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    transition-duration: .2s;
}

.tt_select-area.opened {
    opacity: 1;
    max-height: 200px;
    margin-top: .5rem;
    visibility: visible;
    overflow: auto;
}

.tt_select-area__list {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.tt_select-area__list-item .tt_select-area__title {
    cursor: pointer;
    color: var(--zinc-200);
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--zinc-700);
}



.tt_select-area__inp-type {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--zinc-200);
    background-color: transparent;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: .75rem;
}

.tt_select-area__inp-type.checkbox {
    border-radius: 5px;
}

.tt_select-area__inp-type.radio {
    border-radius: 50%;
}

.tt_select-area__inp-type:before {
    content: "";
    background-color: var(--zinc-200);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    transition: transform .2s ease-in-out;
}

.tt_select-area__inp-type.checkbox:before {
    border-radius: 3px;
}

.tt_select-area__inp-type.radio:before {
    border-radius: 50%;
}

.tt_select-area__inp-type:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.tt_select-area__list-item.focused .tt_select-area__title {
    background-color: var(--zinc-750);
}




@media (hover : hover) {
    .tt_select-area__list-item .tt_select-area__title:hover {
        background-color: var(--zinc-750);
    }

}