.ImageCropper {
    z-index: 1000;
    position: relative;
    padding: .75rem;
    display: flex;
    height: 80vh;
    width: 80vw;
    gap: 1rem;
    flex-direction: column;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CropperArea {
    height: 100%;
    position: relative;
}

.CropperContainer {
    animation: show-cropper .2s linear 1 0s forwards;
}

.Footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.CropDimensions {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.SliderContainer {
    width: 90%;
    margin: 0 auto;
}

.SubArea {
    display: block;
    margin: 0 auto;
}

.ErrorsContainer {
    text-align: center;
    text-wrap: balance;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes show-cropper {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (max-width: 640px) {
    .ImageCropper {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }
}