.Tooltip {
    position: relative;
}

.Content {
    position: absolute;
    background-color: var(--blue-200);
    color: var(--zinc-200);
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    display: block;
}

.Content::after {
    content: "";
    position: absolute;
    border-style: solid;
}

.Top .Content {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: .75rem;
}

.Top .Content::after {
    top: 100%;
    left: 50%;
    border-width: 5px 5px 0;
    border-color: var(--blue-200) transparent transparent transparent;
    transform: translateX(-50%);
}

.Bottom .Content {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: .75rem;
}

.Bottom .Content::after {
    bottom: 100%;
    left: 50%;
    border-width: 0 5px 5px;
    border-color: transparent transparent var(--blue-200) transparent;
    transform: translateX(-50%);
}

.Left .Content {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: .75rem;
}

.Left .Content::after {
    top: 50%;
    right: -5px;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent var(--blue-200);
    transform: translateY(-50%);
}

.Right .Content {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: .75rem;
}

.Right .Content::after {
    top: 50%;
    left: -5px;
    border-width: 5px 5px 5px 0;
    border-color: transparent var(--blue-200) transparent transparent;
    transform: translateY(-50%);
}