
.cp_header {
    top: 0;
    left: 0;
    z-index: 99999;
    position: -webkit-sticky;
    position: sticky;
    height: 100%;
    color: var(--zinc-200);
    transition: top .2s ease-in-out, heingt .8s ease-in-out;
    background-color: var(--zinc-750);
    grid-area: header;
}

.cp_header-container {
    display: flex;
    margin: 0 auto;
    height: 3rem;
    max-height: 4rem;
    padding: 0 .75rem;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out;
}

.cp_header-title {

}

.cp_header-title__text {

}