.UploadPost {
    border-radius: .75rem;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    color: var(--zinc-200);
    gap: .375rem;
    background-color: rgba(0, 110, 255, 0.041);
}

.PreviewArea {
    width: 100%;
    min-height: 250px;
    border: 2px dashed var(--blue-150);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition-property: width, background-color, border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.DragEnter {
    border: 2px dashed #e9ecf3;
    background-color: #808bb1;
}

.PreviewTip {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.PreviewTip svg {
    margin-bottom: 1rem;
}

.TipText {
    font-size: 15px;
}

.TipText_small {
    margin-top: 1rem;
    font-size: 11px;
    font-weight: 300;
}

.PreviewPost {
    width: 100%;
    height: 250px;
    padding: .25rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.PreviewPost img {
    aspect-ratio: 3 / 4;
    margin: 0 auto;
    border-radius: .5rem;
    height: 100%;
}

.FooterControls {
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    grid-column-gap: .375rem;
    padding: .375rem;
    border-radius: .75rem;
    background-color: var(--blue-300);
    align-items: center;
}

.FileInfo {
    grid-row: 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: 0fr;
    transition-property: margin-top, grid-template-rows;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.FileInfo.Expanded {
    margin-top: .375rem;
    grid-template-rows: 1fr;
}

.FileInfo_list {
    display: block;
    min-height: 0;
    overflow: hidden;
    font-size: 11px;
}

.ListItem {
    display: flex;
    padding: .75rem 0.25rem;
    border-top: 1px solid var(--blue-200);
}

.Key {
    width: 100px;
    padding-right: 10px;
    word-break: break-all;
}

.Value {
    flex: 1;
    word-break: break-all;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ErrorFooter {
    justify-content: center !important;
}