/* @font-face {
    font-family: "Unbounded";
    src: url('./assets/fonts/Unbounded-Regular.ttf') format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url('./assets/fonts/Unbounded-Medium.ttf') format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url('./assets/fonts/Unbounded-SemiBold.ttf') format("ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url('./assets/fonts/Unbounded-Bold.ttf') format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url('./assets/fonts/Unbounded-ExtraBold.ttf') format("ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Unbounded";
    src: url('./assets/fonts/Unbounded-Black.ttf') format("ttf");
    font-weight: 900;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}


body {
    font-family: "Unbounded", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto,  Oxygen, Ubuntu, Cantarell, "Open Sans","Helvetica Neue",
    sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    background-color: var(--zinc-700);
}

*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--zinc-700);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--zinc-400);
    border-radius: .5rem;
}

.tt_root-wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}









.tt-header__wrapper {
    top: 0;
    left: 0;
    z-index: 50;
    position: -webkit-sticky;
    position: sticky;
    height: 100%;
    color: var(--zinc-200);
    transition: top .2s ease-in-out, heingt .8s ease-in-out;
    background-color: var(--zinc-750);
    box-shadow: 0 2px 10px 0 #1111117c;
}

.tt-header__container {
    display: flex;
    margin: 0 auto;
    height: 4rem;
    max-height: 4rem;
    padding: 0 .5rem;
    max-width: 1920px;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out;
}


.tt-header__left-group,
.tt-header__right-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition-property: color, gap;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
}

.tt-header__right-group {
    width: 100%;
    justify-content: right;
}


.tt-header__logo {

}

.tt-header__logo-link:hover .transfot {
    transform: translateX(-8px);
    transition-property: translateX, transform;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.tt-header__nav {
    color: var(--white-500);
}

.tt-header__nav-container {

}

.header-nav__list {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    transition: gap 0.3s ease;
}

.header-nav__list-item {
    align-content: center;
}
.header-nav__list-item + :not(.header-nav__link):not(.primary):after{
    width: 0;
    top: -2px;
    height: 2px;
    content: '';
    display: block;
    transition: .15s ease;
    position: relative;
    background: var(--blue-200);
}

.header-nav__link {
    display: block;
    height: 100%;
    align-content: center;
    transition: color .15s ease;
}












.tt-header__search {
    max-width: 16rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header__search-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    gap: .5rem;
    border-radius: 9999px;
    padding: .5rem 1rem;
    /*outline: 0;*/
    border: none;
    background-color: var(--zinc-700);
}

.header__search-text {
    font-size: 12px;
    color: var(--white-500);
}

.header__search-compact__btn {
    width: 3rem;
    height: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: .75rem;
    background-color: var(--zinc-700);
}





.header-location__label {
    display: none;
}
.header-location__btn {
    color: var(--white-500);
    border-radius: .5rem;
    height: 3rem;
    padding: .25rem .5rem;
}







.tt-header__user-manager {

}
.header-user-manager__list {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header-user-manager__list-item {
}
.header-user-manager__link {
    border-radius: .5rem;
    display: flex;
    width: 3rem;
    height: 3rem;
    background-color: var(--zinc-700);
    transition: background-color .15s ease-in-out;
    align-items: center;
    justify-content: center;

}
.header-user-manager__text-content {

}






.tt_main-wrapper {
    flex: 1;
}
.test {
    height: 1000px;
    background-color: var(--zinc-700);
}





















































.tt-footer {
    background-color: var(--zinc-750);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.tt-footer__container {
    max-width: 1590px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
    grid-gap: .5rem;
    padding: 1rem .5rem;
    color: var(--zinc-200);
    justify-content: space-between;
}


.tt-footer__desc {
    padding: 0 .5rem;
    align-content: start;
}

.tt-footer__desc-cite_name {
    font-size: 16px;
    margin-bottom: 1rem;
}

.tt-footer__desc-sub_desc {
    font-size: 12px;
    display: inline-block;
    margin-bottom: .375rem;
}

.tt-footer__soc {
    display: flex;
    gap: clamp(10px, 1.5vw, 20px);
}

.tt-footer__soc-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-soc,
.footer-tg-bot{
    height: 100%;
    padding: .5rem;
    width: 300px;
    border-radius: .5rem;
    display: flex;
    gap: .75rem;
    background-color: var(--zinc-700);
    align-items: center;
}

.footer-soc__head,
.footer-tg-bot__head {
    text-align: left;
}

.footer-soc__head-content,
.footer-tg-bot__head-content {
    display: inline-block;
}

.footer-soc__list,
.footer-tg-bot__list {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.footer-soc__list-item,
.footer-tg-bot__list-item {
    background-color: var(--zinc-800);
    border-radius: .375rem;
    transition: background-image .2s ease-in-out, background-color .2s ease-in-out;
}
.footer-soc__list-item a,
.footer-tg-bot__list-item a {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.tt-footer__download-apps {
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--zinc-700);
}

.download-apps__head {
    text-align: center;
}

.download-apps__head-content {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.download-apps__list {
    display: flex;
    margin-top: .5rem;
    gap: .5rem;
    flex-direction: column;
}

.download-apps__list-item--link {
    width: 200px;
    height: 40px;
    display: block;
}

.download-apps__list-item--link img {
    width: 200px;
    height: 40px;
    object-fit: cover;
    object-position: center;

}


@media (hover: hover) {
    .header-nav__list-item + :not(.header-nav__link):not(.primary):hover::after {
        width: 100%;
    }
    .header-nav__link:hover {
        color: var(--white-300);
    }

    .header-nav__link.primary:hover {
        background-color: var(--blue-400);
    }

    .header-location__btn:hover {
        color: var(--zinc-200);
        background-color: var(--zinc-700);
    }

    .header-user-manager__link:hover {
        background-color: var(--zinc-500);
    }

}

@media screen and (max-width: 1024px) {

    .tt-header__nav,
    .tt-header__location,
    .tt-header__user-manager{
        display: none;
    }




    .header-nav__list {
        gap: 1rem;
    }

    .tt-header__right-group {
        gap: .5rem;
    }

    .tt-footer__container {
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 0fr;
    }
    .tt-footer__desc {
        grid-column: 1;
        grid-row: 1;
    }
    .tt-footer__soc {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .tt-footer__soc-container {
        width: 100%;
        flex-direction: row;
    }
    .footer-soc, .footer-tg-bot {
        width: 100%;
        height: auto;
        justify-content: space-between;
    }
    .tt-footer__download-apps {
        grid-column: 2;
        grid-row: 1;
    }

}


@media screen and (max-width: 767px) {
    .tt-footer__desc {
        grid-column: 1 / 3;
    }
    .tt-footer__soc-container {
        flex-direction: column;
    }
    .tt-footer__soc {
        grid-column: 1;
    }
    .footer-soc, .footer-tg-bot {
        width: auto;
        height: 100%;
    }
    .tt-footer__download-apps {
        grid-row: 2;
    }
    
}

@media screen and (max-width: 600px) {
    .tt-footer__container {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr;
    }
    .tt-footer__desc {
        grid-column: 1;
        grid-row: 1;
    }
    .tt-footer__download-apps {
        grid-column: 1;
        grid-row: 3;
    }
    .download-apps__list {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

}

@media screen and (max-width: 400px) {

    .header__search-btn {
        display: none;
    }

    .header__search-compact__btn {
        display: flex;
    }

}


    @media screen and (max-width: 300px) {
    .footer-soc, .footer-tg-bot {
        flex-direction: column;
    }
    .footer-soc__head, .footer-tg-bot__head {
        text-align: center;
        text-wrap: balance;
    }

}
