
.hidden {
    display: none;
}

.btn {
    /*display: inline-block;*/
    position: relative;
    font-size: 14px;
    text-decoration: none;
    border: none;
    line-height: 1.25rem;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    z-index: 1;
}

.btn.active, .btn:active, .btn:focus-visible {
    outline: 0;
    transition-property:scale;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .3s;
    scale: 0.98;
    box-shadow: 0 0 1px 2px var(--zinc-200);
}

.primary {
    width: 8rem;
    height: 3rem;
    display: block;
    color: var(--white-300);
    align-content: center;
    background-color: var(--blue-200);
    border-radius: 10px;
    text-align: center;
}


