.act:active, .act:focus-visible {
    outline: 0;
    transition-property: scale;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .25s;
    scale: 0.98;
    box-shadow: 0 0 1px 2px var(--zinc-200);
}

.tt-mobile-menu {
    display: none;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    font-size: 14px;
    position: absolute;
    color: var(--zinc-200);
}

.tt-mobile-menu__container {
    top: 0;
    margin: 0;
    z-index: 50;
    width: 100%;
    overflow: auto;
    height: 100%;
    position: relative;
    background-color: var(--zinc-750);
}

.tt-mobile-menu__container.open {
    animation: animateOpenMenu .25s ease-in-out 1 forwards;
}

.tt-mobile-menu__container.hide {
    animation: animateHideMenu .25s ease-in-out 1 forwards;
}

@keyframes animateOpenMenu {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes animateHideMenu {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

.tt-mobile-menu__content {
    margin: 0 auto;
    max-width: 40rem;
}

.mobile-menu__content-header {
    padding: .5rem .375rem;
    background-color: var(--zinc-750);
}

.mobile-menu__header-location {
    display: block;
}

.mobile-menu__location-link {
    display: block;
    height: 3rem;
    padding: 0 .5rem;
    border-radius: .5rem;
    text-align: center;
    align-content: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    background-color: var(--zinc-725);
    border: var(--blue-400) 2px dashed !important;
}

.mobile-menu__user-section__list {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.mobile-menu__user-section__list-item {
    width: 100%;
}

.mobile-menu__user-section__link {
    display: block;
    height: 3rem;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: var(--zinc-725);
    border-radius: .5rem;
}

.mobile-menu__nav {
    padding: 0 .375rem;
}

.mobile-menu__nav-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.mobile-menu__nav__link {
    display: flex;
    text-align: left;
    gap: .5rem;
    padding: 1rem 1rem;
    border-radius: .5rem;
    background-color: var(--zinc-725);
    align-items: center;
    transition: background-color .2s ease-out;
}

.mobile-menu__nav__link.schedule {
    background-color: var(--blue-400);
}

.mobile-menu__footer {
    height: 5rem;
}

@media screen and (max-width: 1024px) {
    .tt-mobile-menu {
        display: block;
    }
}