.act:active, .act:focus-visible {
    outline: 0;
    transition-property: scale;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .25s;
    scale: 0.98;
    box-shadow: 0 0 1px 2px var(--zinc-200);
}

.tt_header-mob-menu__burger {
    display: block;
}

.mob-menu__toggle {
    color: var(--zinc-300);
    padding: .75rem;
    border-radius: .75rem;
    border: none;
    z-index: 50;
    position: relative;
    gap: .5rem;
    cursor: pointer;
    background-color: var(--zinc-700);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: background-color;
}

.mob-menu__toggle .burger-box {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    align-content: center;
}

.burger-box .burger-line, .burger-box .burger-line:before, .burger-box .burger-line:after {
    position: absolute;
    width: 24px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: var(--zinc-300);
}

.burger-line:before, .burger-line:after {
    display: block;
    content: "";
}

.burger-line:before {
    top: -6px;
}

.burger-line:after {
    bottom: -6px;
}

.mob-menu__toggle.open .burger-line:before {
    transform: translate3d(6px, 1px, 0) rotate(45deg) scaleX(.6);
}

.mob-menu__toggle.open .burger-line:after {
    transform: translate3d(6px, -1px, 0) rotate(-45deg) scaleX(.6);
}

@media (hover: hover) {
    .mob-menu__toggle:hover {
        background-color: var(--zinc-600);
    }
}

@media screen and (min-width: 1024px) {
    .tt_header-mob-menu__burger.hiding {
        display: none;
    }
}