.tt_wrapper {
    min-height: 100vh;
    background-color: var(--zinc-700);
}

.tt_base-container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.tt_main-content {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 480px) {
    .tt_base-container {
        display: grid;
        grid-template-columns: 0fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "aside main";
    }
}
