:root {
    --green: #00b344;
    --green-contr: #00b344ab;
    --red: #ff4949;
    --red-contr: #ff9999;

    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-350: #c2c2c6;
    --zinc-400: #a1a1aa;
    --zinc-400__50: rgba(161, 161, 170, 0.5);
    --zinc-500: #71717a;
    --zinc-600: #555867;
    --zinc-650: #4a4e59;
    --zinc-700: #3a3c45;
    --zinc-725: #33353c;
    --zinc-750: #2f3039;
    --zinc-800: #25252d;
    --zinc-900: #17171c;
    --zinc-950: #09090b;

    --white-300: #E0E0E0;
    --white-500: #B0B0B0;

    --blue-100: #8ba1dc;
    --blue-100__05: rgba(139, 161, 220, 0.5);
    --blue-150: #798dc3;
    --blue-200: #63739d;
    --blue-300: #57658a;
    --blue-400: #424f71;
    --blue-800: #22252F;
    --blue-outline: #b4c8ec;

    --dark-blue: #0068ff;
    --dark-blue__20: rgba(0, 61, 255, 0.2);
}