.TextField {
    position: relative;
}

.InputWrapper {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    transition-property: box-shadow;
    transition-duration: .15s;
    transition-timing-function: ease;
    outline: none;
}

.TextInput {
    cursor: text;
    background-color: var(--zinc-300);
    width: 100%;
    color: var(--zinc-800);
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    display: block;
    background-clip: padding-box;
    transition-property: box-shadow, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: transparent 0 solid;
}

.TextArea.TextInput {
    max-height: 30rem;
}

.TextField[data-focus="true"] .TextInput{
    background-color: var(--zinc-100);
}

.TextInput:focus-visible:not(.Invalid),
.TextField[data-focus="true"] .TextInput:not(.Invalid) {
    box-shadow: 0 0 3px 0.2rem #7a93d4;
}

.Size_sm {
    height: 2.5rem;
    font-size: .75rem;
    padding: 1rem .75rem .25rem .75rem;
}

.TextArea.Size_sm {
    min-height: 3.5rem;
    padding: 1.25rem .75rem .25rem .75rem;
}

.Size_md {
    height: 3rem;
    font-size: .875rem;
    padding: 1.375rem .75rem .375rem .75rem;
}

.TextArea.Size_md {
    min-height: 8rem;
}

.Size_lg {
    height: 3.5rem;
    font-size: 1rem;
    padding: 1.625rem .75rem .5rem .75rem;
}

.TextArea.Size_lg {
    min-height: 12rem;
    height: auto;
}

.Rounded_sm {
    border-radius: .25rem;
}

.Rounded_md {
    border-radius: .5rem;
}

.Rounded_lg {
    border-radius: .75rem;
}

.Rounded_xl {
    border-radius: 1rem;
}

.Label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    display: block;
    color: var(--zinc-800);
    pointer-events: none;
    border: none;
    padding-left: .875rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left top;
    transition-property: color, opacity, transform;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.TextArea + .Label {
    top: 0;
    transform: translateY(85%);
}

.TextField[data-focus="true"] .Label,
.TextField[data-has-value="true"] .Label,
.TextInput:placeholder-shown + .Label {
    opacity: .75;
    transform: scale(0.85) translateY(-1.5rem);
}

.TextField[data-focus="true"] .TextArea + .Label,
.TextField[data-has-value="true"] .TextArea + .Label,
.TextArea:placeholder-shown + .Label {
    opacity: .75;
    transform: scale(0.85) translateY(.5rem);
}

.TextField[data-focus="true"] .Size_sm + .Label,
.TextField[data-has-value="true"] .Size_sm + .Label {
    transform: scale(0.85) translateY(-1.375rem);
}

.TextField[data-focus="true"] .TextArea.Size_sm + .Label,
.TextField[data-has-value="true"] .TextArea.Size_sm + .Label {
    transform: scale(0.85) translateY(.2rem);
}

.Description {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 150ms ease-in-out;
}

.DescriptionArea {
    min-height: 0;
}

.TextField[data-focus="true"] .Description {
    grid-template-rows: 1fr;
}

.DescriptionContent {
    margin-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: var(--zinc-300);
    font-size: 11px;
    font-weight: 400;
    word-spacing: 1px;
}

.Invalid {
    outline: 0;
    box-shadow: 0 0 3px 0.2rem var(--red);
    animation-name: invalidShaking;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.Invalid + .Label {
    color: var(--red);
}

@keyframes invalidShaking {
    0% {transform: translateX(0);}
    25% {transform: translateX(-2px);}
    50% {transform: translateX(2px);}
    75% {transform: translateX(-2px);}
    100% {transform: translateX(0);}
}


.Error {
    margin-top: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.ErrorMsg {
    margin-top: .5rem;
    color: var(--red-contr);
    font-size: 11px;
    font-weight: 400;
    word-spacing: 1px;
}

@media (hover: hover) {
    .TextInput:hover {
        background-color: var(--zinc-350);
    }
}