.AsideMenu {
    height: calc(100dvh - 3rem);
    top: 3rem;
    width: 4rem;
    color: var(--zinc-200);
    z-index: 200;
    position: sticky;
    display: flex;
    flex-direction: column;
    grid-area: aside;
    background-color: var(--zinc-750);
    transition-property: background-color, width;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.AsideMenu.Expanded {
    width: 18rem;
    transition: width .2s ease-in-out;
}

.AsideMenu__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Header {
    padding: .5rem;
    transition: padding .3s ease-in-out;
}

.UserProfile__panel {
    background-color: var(--blue-800);
    display: flex;
    gap: .375rem;
    flex-direction: column;
    padding: .25rem;
    border-radius: 1rem;
    transition: padding .2s ease-in-out;
    transition-property: padding, border-radius;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
}

.AuthorizedUser {
    background-color: var(--zinc-700);
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: left;
    border-radius: .75rem;
    border: none;
    gap: .5rem;
    overflow: hidden;
    transition: padding .2s ease-in-out;
}

.AsideMenu.Expanded .AuthorizedUser {
    padding: .25rem;
}

.UserImg {
    width: 40px;
    height: 40px;
    border-radius: .75rem;
    overflow: hidden;
}

.UserImg img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.Body {
    padding: .5rem;
    flex: 1;
}

.Sections {
    display: flex;
    flex-direction: column;
    gap: .375rem;

}

.MenuItem__Accordion {
    border-radius: .75rem;
    transition: background-color .15s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.MenuItem__Accordion.Open {
    background-color: var(--zinc-700);
}

.AccordionButton {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 1fr;
    gap: .5rem;
    width: 100%;
    border: none;
    padding: .5rem;
    cursor: pointer;
    text-align: left;
    background-color: var(--zinc-700);
    overflow: hidden;
    align-items: center;
    border-radius: .75rem;
    transition-duration: .15s, .7s, .7s;
    justify-content: flex-start;
    transition-property: background-color, border-bottom-left-radius, border-bottom-right-radius;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.MenuItem__Accordion.Open .AccordionButton {
    background-color: var(--zinc-600);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, border-bottom-left-radius, border-bottom-right-radius;
}

.AsideMenu.Expanded .AccordionLabel {
    display: block;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, #cbcbcb 80%, transparent 100%);
    mask-image: linear-gradient(to right, #cbcbcb 80%, transparent 100%);
}

.AccordionContent {
    max-height: 0;
    overflow-y: clip;
    transform: translateX(-1rem);
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: max-height, transform;
}

.AccordionContent.Open {
    max-height: 300px;
    transform: translateX(0);
}

.Submenu__link {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 1fr;
    gap: .75rem;
    justify-content: flex-start;
    align-items: center;
    padding: .375rem .375rem .375rem .75rem;
}

.Submenu__item:last-child .Submenu__link {
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
}

.Submenu__link.Selected {
    background-color: var(--blue-400);
    transition: background-color .3s;
}

.Submenu__link svg {
    transition: transform 0.3s;
}

.Submenu__link.Selected svg {
    transform: scale(1.2);
}

.Submenu__label {
    display: block;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, #cbcbcb 80%, transparent 100%);
    mask-image: linear-gradient(to right, #cbcbcb 80%, transparent 100%);
}

.Footer {
    padding: .5rem;
}

.MenuItems {
    display: flex;
    gap: .375rem;
    flex-direction: column;
}

.MenuItem__link {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0fr 1fr;
    border-radius: .75rem;
    padding: .5rem;
    border: none;
    gap: .5rem;
    transition: background-color .15s ease-in-out;
    align-items: center;
    background-color: var(--zinc-700);
}

.MenuItem__title {
    display: block;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, #cbcbcb 80%, transparent 100%);
    mask-image: linear-gradient(to right, #cbcbcb 80%, transparent 100%);
}


@media (hover: hover) {

    .AccordionButton:hover {
        background-color: var(--zinc-650);
    }

    .Submenu__link:hover:not(.Selected) {
        background-color: var(--zinc-725);
    }

    .MenuItem__link:hover {
        background-color: var(--zinc-650);
    }
}

@media screen and (max-width: 479px) {

    .AsideMenu.Expanded {
        width: 100%;
        transform: translateX(0);
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        transition-property: transform;
    }

    .Body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .AsideMenu {
        position: fixed;
        width: 100%;
        transform: translateX(-100%);
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        transition-property: transform;
    }
    .AsideMenu .AuthorizedUser {
        padding: .25rem;
    }
}