.Button {
    border: none;
    position: relative;
    display: inline-flex;
    gap: .5rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--zinc-200);
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    line-height: 1.25rem;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding-left: 1rem;
    padding-right: 1rem;
    user-select: none;
    touch-action: manipulation;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition-property: background-color, scale;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .2s;
    background-color: transparent;
}

.Button:disabled {
    opacity: 0.7;
    filter: saturate(.8);
    cursor: not-allowed;
}

.Variant_solid {
}

.Variant_outline {
    background-color: transparent;
    border: 1px solid currentColor;
}

.Variant_ghost {
    background-color: transparent;
    border: none;
}

.Default {
}

.Primary {
    background-color: #63719c;
}

.Secondary {
    background-color: #4c5059;
}

.Size_sm {
    height: 2rem;
    font-size: 0.75rem;
}

.Size_md {
    height: 2.5rem;
    font-size: 0.875rem;
}

.Size_lg {
    height: 3rem;
    font-size: 1rem;
}

.IconOnly {
    padding: 0;
}

.IconOnly.Size_sm {
    width: 2rem;
}

.IconOnly.Size_md {
    width: 2.5rem;
}

.IconOnly.Size_lg {
    width: 3rem;
}

.Rounded_sm {
    border-radius: .5rem;
}

.Rounded_md {
    border-radius: .75rem;
}

.Rounded_lg {
    border-radius: 1rem;
}

.Rounded_full {
    border-radius: 9999px;
}

.Rounded_none {
    border-radius: 0;
}

.Text_content {
    display: block;
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Text_content_hidden {
    opacity: 0;
    visibility: hidden;
}

.Spinner {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -10px;
    border: 2px solid var(--zinc-100);
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.Button:active:not(:disabled),
.Button:focus-visible:not(:disabled) {
    scale: 0.97;
    outline-offset: 2px;
    outline: var(--blue-outline) 2px solid;
}

@media (hover: hover) {
    .Default:not(:disabled):hover {
        background-color: #40454e;
    }

    .Primary:not(:disabled):hover {
        background-color: #5d6a93;
    }

    .Secondary:not(:disabled):hover {
        background-color: #40454e;
    }
}

.Default:not(:disabled):active {
    background-color: #4c525c;
}

.Primary:not(:disabled):active {
    background-color: #6775a3;
}

.Secondary:not(:disabled):active {
    background-color: #4c525c;
}