.skeleton-container {
    display: flex;
    gap: .5rem;
    width: 100%;
}

.skeleton-circle {
    width: 40px;
    min-width: 40px;
    height: 60px;
    background-color: var(--zinc-500);
    border-radius: .25rem;
}

.skeleton-title {
    width: 100%;
    border-radius: .25rem;
    background-color: var(--zinc-500);
    height: 1.5rem;
}

@keyframes animation-pulse {
    50% {
        opacity: .5;
    }
}

.animation-pulse {
    animation: animation-pulse 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
}