.Slider {
    height: 30px;
    display: block;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    border-radius: .375rem;
}

.Slider.Sea .Track {
    background-color: var(--blue-100__05);
}

.Slider.Sea .Thumb {
    background-color: var(--blue-100);
}

.Slider.Sea .Rail {
    background-color: var(--blue-200);
}


.Slider.Vertical {
    height: 200px;
    width: 30px;
}

.Rail {
    top: 50%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    left: 0;
    width: 100%;
    height: .25rem;
    position: absolute;
    border-radius: .25rem;
    transform: translateY(-50%);
}

.Slider.Vertical .Rail {
    top: 0;
    left: 50%;
    height: 100%;
    width: .25rem;
    transform: translateX(-50%);
}

.Track {
    position: absolute;
    left: 0;
    top: 50%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: .375rem;
    border-radius: .25rem;
    transform: translateY(-50%);
    transition-duration: .15s;
    transition-timing-function: ease;
    transition-property: bottom, width, height;
}

.Slider.Vertical .Track {
    left: 50%;
    top: auto;
    bottom: 0;
    width: .375rem;
    height: 100%;
    transform: translateX(-50%);
}

.Thumb {
    top: 50%;
    z-index: 10;
    width: 1.25rem;
    height: 1.25rem;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 50%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    transition-property: box-shadow, left;
    transition-duration: .15s;
    transition-timing-function: ease;
    -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.33);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.33);
}

.Slider.Vertical .Thumb {
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.Thumb::after {
    content: "";
    top: 50%;
    left: 50%;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.Thumb:hover, .Thumb:focus-visible {
    box-shadow: var(--blue-100__05) 0 0 0 8px;
}

.Thumb:active, .Thumb:focus-visible {
    box-shadow: var(--blue-100__05) 0 0 0 12px;
}

.SliderDragging .Thumb,
.SliderDragging .Track {
    transition: none 0s;
}

.Label {
    z-index: 1;
    top: -10px;
    position: absolute;
    white-space: nowrap;
    color: var(--zinc-200);
    background-color: var(--blue-200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem .75rem;
    transform-origin: bottom center;
    border-radius: .5rem;
    transform: translateY(-100%) scale(0);
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.Slider.Vertical .Label {
    top: auto;
    left: -10px;
    transform: translateX(-100%) scale(0);
    transform-origin: right center;
}

.Label_show {
    transform: translateY(-100%) scale(1);
}

.Slider.Vertical .Label_show {
    transform: translateX(-100%) scale(1);
}

.Label_show::before {
    content: "";
    width: .5rem;
    height: .5rem;
    position: absolute;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: inherit;
    bottom: 0;
    left: 50%;
}

.Slider.Vertical .Label_show::before {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.Mark {
    position: absolute;
    background-color: var(--blue-100);
    border-radius: 50%;
    width: 2px;
    height: 2px;
    bottom: 50%;
    transform: translate(-1px, 50%);
}

.Slider.Vertical .Mark {
    left: 50%;
}

.Mark.MarkPassed {
    background-color: var(--zinc-650);
}

.Slider.Disabled {
    cursor: not-allowed;
}

.Slider.Disabled .Rail {
    background-color: var(--zinc-500);
}

.Slider.Disabled .Track,
.Slider.Disabled .Thumb {
    background-color: var(--zinc-400);
}

.Slider.Disabled .Thumb:hover {
    box-shadow: var(--zinc-400__50) 0 0 0 8px;
}

.Slider.Disabled .Thumb:active {
    box-shadow: var(--zinc-400__50) 0 0 0 12px;
}

.Slider.Disabled .Label {
    background-color: var(--zinc-500);
}

.Slider.Disabled .Mark {
    background-color: var(--zinc-400);
}

.Slider.Disabled .MarkPassed {
    background-color: var(--zinc-500);
}