.Accordion {
    border-radius: .75rem;
    box-shadow: 0 0 2px 0 #3b3b3b;
}

.Header {
    display: flex;
    gap: .5rem;
    width: 100%;
    padding: .5rem 1rem;
    height: 3.5rem;
    cursor: pointer;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    background-color: var(--zinc-700);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border: none;
    transition-property: scale, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .25s;
}

.Header::after {
    content: "";
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.00064 6.00012L8.00066 10.0001L12.0007 6.00012' stroke='%23D4D4D8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .2s ease-out;
}

.Accordion_show .Header {
    background-color: var(--blue-400);
}

.Accordion_show .Header::after {
    transform: rotate(-180deg);
}

.Accordion:not(.Accordion_show) .Header {
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
}


.Body {
    overflow: hidden;
    transition: max-height .15s ease;
    max-height: 0;
}

.Content {
    display: flex;
    flex-direction: column;
    background-color: var(--zinc-750);
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
}

.Content a {
    position: relative;
    display: block;
    padding: 0.75rem .75rem .75rem 3.5rem;
    color: var(--zinc-300);
    text-decoration: none;
    background: var(--zinc-700);
}

.Content a:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

@media (hover: hover) {
    .Header:hover {
        background-color: var(--blue-400);
    }

    .Content a:hover {
        background-color: var(--zinc-600);
    }
}