
.tt_create-movie__form-container {
    max-width: 768px;
    margin: 0 auto;
}

.tt_create-movie__form-body {
    gap: 1.25rem;
    flex-direction: column;
    display: flex;
    margin: 0 .5rem;
}

.tt_create-movie__section {
    background-color: var(--zinc-600);
    border-radius: 1rem;
    padding: .375rem;
}

.tt_create-movie__section.head {
    margin-top: 1rem;
}

.tt_create-movie__section.details {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.tt_create-movie__section.desc {

}


.rental-period-block {
    grid-template-columns: auto auto;
    display: grid;
    column-gap: .5rem;
}


.tt_create-movie__form-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: .375rem;
    gap: .5rem;
    margin-bottom: 1rem;
}

.tt_create-movie__create-action {
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    border: none;
    height: 48px;
    color: #ffffff;
    background-color: var(--green-contr);
    max-width: 200px;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}



@media (hover : hover) {
    .tt_create-movie__create-action:hover {
        background-color: var(--green);
    }
}

@media screen and (max-width: 768px) {

    .rental-period-block {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}