.Loader {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 1rem;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.Cube {
    width: 44px;
    height: 44px;
    transform-style: preserve-3d;
    animation: Cube-rotation 2s infinite ease;
}

.Cube > div {
    background-color: var(--dark-blue__20);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid var(--dark-blue);
}

.Cube div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
}

.Cube div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.Cube div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.Cube div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.Cube div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.Cube div:nth-of-type(6) {
    transform: translateZ(22px);
}

@keyframes Cube-rotation {
    0% {transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);}
    50% {transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);}
    100% {transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);}
}
