@import "@ui/Modal/ModalAnimations.module.css";

.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overscroll-behavior-y: none;
    overflow: hidden;
}

.ModalBackdrop {
    inset: 0;
    position: fixed;
}

.ModalBackdrop.Blur {
    -webkit-backdrop-filter: blur(6px) opacity(1) brightness(.8);
    backdrop-filter: blur(6px) opacity(1) brightness(.8);
    animation: animateOpacityIn .3s ease-in-out 1 0ms forwards;
}

.ModalBackdrop.Hide.Blur {
    animation: animateOpacityOut .3s ease-in-out 1 0ms forwards;
}

.ModalBackdrop.Darken {
    background: linear-gradient(to bottom, rgb(0 0 0 / 74%) 0%, rgb(0 0 0 / 10%) 100%), radial-gradient(at top center, rgb(0 0 0 / 10%) 50%, rgb(68 68 68 / 70%) 120%);
    background-blend-mode: color-burn, multiply;
    animation: animateOpacityIn .3s ease-in-out 1 0ms forwards;
}

.ModalBackdrop.Hide.Darken {
    animation: animateOpacityOut .3s ease-in-out 1 0ms forwards;
}

.ModalContent {
    display: flex;
    position: relative;
    border-radius: .75rem;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin: 4rem 1.5rem;
    word-break: break-word;
    text-align: center;
    text-overflow: ellipsis;
    background-color: var(--zinc-700);
    color: var(--zinc-200);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.ModalHeader,
.ModalFooter {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.ModalHeader {
    font-size: 16px;
    padding: 1rem 1.25rem .5rem 1.25rem;
}

.ModalClose {
    position: absolute;
    padding: .5rem;
    right: .5rem;
    z-index: 20;
    top: .5rem;
}

.ModalFooter {
    gap: .5rem;
    display: flex;
    padding: .5rem 1.25rem 1rem 1.25rem;
    justify-content: flex-end;
}

.ModalBody {
    overflow: auto;
    display: flex;
    gap: .75rem;
    padding: .5rem 1.25rem;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    outline: transparent solid 2px;
    outline-offset: 2px;
    border-radius: .75rem;
    color: inherit;
    text-align: left;
}

.SlideUp {
    animation: MsSlideUp 250ms ease-in-out 1 0ms forwards;
    opacity: 1;
}

.EntryIn {
    animation: MsEntryIn 250ms ease-in-out 1 0ms forwards;
    opacity: 1;
}

.LightSpeedIn {
    animation: MsLightSpeedIn 250ms ease-in-out 1 0ms forwards;
    opacity: 1;
}

.SlideDown {
    animation: MsSlideDown 250ms ease-in-out 1 0ms forwards;
    opacity: 1;
}

.EntryOut {
    animation: MsEntryOut 250ms ease-in-out 1 0ms forwards;
    opacity: 1;
}

.LightSpeedOut {
    animation: MsLightSpeedOut 250ms ease-in-out 1 0ms forwards;
    opacity: 1;
}

.SizeXs {
    max-width: 20rem;
}

.SizeSm {
    max-width: 24rem;
}

.SizeMd {
    max-width: 32rem;
}

.SizeLg {
    max-width: 40rem;
}

.SizeXl {
    max-width: 48rem;
}

.SizeFull {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.SizeAuto {
    width: auto;
}

.RoundedSm {
    border-radius: .5rem;
}

.RoundedMd {
    border-radius: 1rem;
}

.RoundedLg {
    border-radius: 1.5rem;
}

.RoundedXl {
    border-radius: 2rem;
}

.RoundedNone {
    border-radius: 0;
}

@media screen and (max-width: 640px) {
    .Modal {
        align-items: flex-end;
    }

    .ModalContent {
        margin: .25rem;
    }

    .ModalContent.SizeAuto {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }
}