@keyframes MsSlideUp  {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes MsSlideDown {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes MsEntryIn {
    from {
        opacity: 0;
        transform: scale(1.03);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes MsEntryOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.03);
        opacity: 0;
    }
}

@keyframes MsLightSpeedIn {
    from {
        transform: translateX(-100%) skewX(-30deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) skewX(0deg);
        opacity: 1;
    }
}
@keyframes MsLightSpeedOut {
    from {
        transform: translateX(0) skewX(0deg);
        opacity: 1;
    }
    to {
        transform: translateX(100%) skewX(30deg);
        opacity: 0;
    }
}

@keyframes animateOpacityIn {
    from{opacity: 0;}
    to{opacity:1;}
}
@keyframes animateOpacityOut {
    from{opacity: 1;}
    to{opacity: 0;}
}