.Select {
    position: relative;
}

.HiddenSelect {
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    border: 0;
}

.SelectedArea {
    height: auto;
    min-height: 2.5rem;
    cursor: pointer;
    border: none;
    position: relative;
    color: var(--zinc-800);
    background-color: var(--zinc-300);
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 100%;
    display: inline-flex;
    transition-property: border-color, box-shadow, background-color;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-tap-highlight-color: transparent;
}

.SelectedArea[data-focus="true"] {
    background-color: var(--zinc-100);
}

.SelectedArea:is(:focus-visible, [data-focus="true"]):not(.Invalid) {
    box-shadow: 0 0 3px 0.2rem #7a93d4;
}

.Size_sm {
    height: 3rem;
    font-size: .75rem;
    padding: 1rem 2rem .25rem .75rem;
}

.Size_md {
    height: 3.5rem;
    font-size: .875rem;
    padding: 1.375rem 2rem .375rem .75rem;
}

.Size_lg {
    height: 4rem;
    font-size: 1rem;
    padding: 1.625rem 2rem .5rem .75rem;
}

.Rounded_xs {
    border-radius: .25rem;
}

.Rounded_sm {
    border-radius: .5rem;
}

.Rounded_md {
    border-radius: .75rem;
}

.Rounded_lg {
    border-radius: 1rem;
}

.Rounded_xl {
    border-radius: 1.5rem;
}


.SelectedValuesWrapper {
    display: grid;
    height: 100%;
    min-height: 1rem;
    width: 100%;
    align-items: center;
}

.SelectedValues {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    align-content: center;
}

.Label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 100%;
    display: block;
    color: var(--zinc-800);
    pointer-events: none;
    border: none;
    padding-left: .875rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left top;
    transition-property: color, opacity, transform;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.SelectedArea:is([data-has-value="true"], [data-has-selected="true"]) .Label {
    opacity: .75;
    transform: scale(0.85) translateY(-1.5rem);
}

.Arrow {
    position: absolute;
    right: .75rem;
    top: 50%;
    transform: translateY(-50%);
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.Arrow[data-open="true"] {
    transform: translateY(-50%) rotate(180deg);
}


.SelectArea {
    position: relative;
    z-index: 500;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    background-color: var(--zinc-725);
    border-radius: .75rem;
}

.SelectArea[data-placement="top"] {
    transform-origin: 50% 100% 0;
}

.SelectArea[data-placement="bottom"] {
    transform-origin: 50% 0 0;
}

.SelectArea[data-hidden="false"] {
    animation: showPopup .2s ease-in-out 1 0ms forwards;
}

.SelectArea[data-hidden="true"] {
    animation: hidePopup .2s ease-in-out 1 0ms forwards;
}

.SelectArea_Wrapper {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    width: 100%;
    transition-property: margin-top, max-height, opacity, visibility;
    transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    transition-duration: .2s;
    max-height: 16rem;
    padding: .375rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-mask-image: -webkit-linear-gradient(180deg, #000 calc(100% - 4px), transparent);
    mask-image: linear-gradient(#000, #000, transparent 0, #000 16px, #000 calc(100% - 16px), transparent);
}

.SelectList {
    display: flex;
    flex-direction: column;
    gap: .125rem;
    width: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.SelectList_Item {
    border-radius: .5rem;
    transition: background-color .1s ease-in-out;
}

.SelectList_Item[data-selected="true"] {
    background-color: var(--zinc-650);
}

.SelectList_Item[data-highlighted="true"] {
    background-color: var(--zinc-600);
}

.SelectItem {
    cursor: pointer;
    color: var(--zinc-200);
    border-radius: .5rem;
    padding: .5rem;
    gap: .25rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.SelectContent {
    flex: 1 1 0;
}

.CheckWrapper {
    color: var(--zinc-100);
    flex-shrink: 0;
    width: .75rem;
    height: .75rem;
}

.Invalid {
    outline: 0;
    box-shadow: 0 0 3px 0.2rem var(--red);
    animation-name: invalidShaking;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.SelectedArea.Invalid,
.SelectedArea.Invalid .Label {
    color: var(--red);
}

.Error {
    margin-top: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.ErrorMsg {
    margin-top: .5rem;
    color: var(--red-contr);
    font-size: 11px;
    font-weight: 400;
    word-spacing: 1px;
}


.Highlighted {
    background-color: var(--zinc-600);
}

@keyframes showPopup {
    from {
        opacity: 0;
        visibility: hidden;
        transform: scale(.96);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

@keyframes hidePopup {
    from {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: scale(.96);
    }
}

@keyframes invalidShaking {
    0% {transform: translateX(0);}
    25% {transform: translateX(-2px);}
    50% {transform: translateX(2px);}
    75% {transform: translateX(-2px);}
    100% {transform: translateX(0);}
}